<div class="col-4 mt-5">
    <div class="shadow card">
        <h5 class="card-header text-center">Agent Signup</h5>
        <div class="card-body">
            <p class="card-text">
                <%= render 'partials/agent_form' %>
            </p>
            <p class="card-text">
                <%= link_to "Signup or Login with Facebook", '/auth/facebook?state=Agent' %>
            </p>
        </div>
    </div>
</div>
