<div class="container-fluid h-100">
    <div class="container-fluid my-auto">
        <h1 class="text-center">Welcome to Insurance Recruiter CRM</h1>
        <p class="text-center">This is the place to keep track of all your candidates.  Select if you are an Agent or Recruiter below to get started and signup. If you have been here before click Login and get working.</p>

        <div class="row h-50 justify-content-center">
            <div class="col-sm-4">
                <div class="shadow card text-center">
                    <h5 class="card-header">Agent</h5>
                    <div class="card-body">
                        <p class="card-text">
                            I'm an Agent.
                        </p>
                        <%= link_to "Get Started", new_agent_path, :class => "btn btn-primary" %>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="shadow card text-center">
                    <h5 class="card-header">Recruiter</h5>
                    <div class="card-body">
                        <p class="card-text">
                            I'm a Recruiter.
                        </p>
                        <%= link_to "Get Started", new_recruiter_path, :class => "btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

