$enable-shadows: true;
$body-bg: #fafafe;
$purple: #5736e1;
$teal: #65EAF2;
$gray-200: #eaeaf8;
$primary: $purple;
$info: $teal;
$border-radius: .6rem;
$blue: #1877f2;
$success: $blue;


@import "bootstrap";